<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>




</head>
<body>
<div class="container">


    <span th:text="${weather.getWeather().get(0).getDescription()}"/><br>
    Temp: <span th:text="${weather.getMain().getTemp()}"/> &deg;C<br>
    Pressure: <span th:text="${weather.getMain().getPressure()}"/> hPa<br>
    Humidity: <span th:text="${weather.getMain().getHumidity()}"/> %<br>


</div>
</body>
</html>

